h1.app-title {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 12px;
  letter-spacing: -1px;
  color: white;
  text-shadow: #3d4557 0px -1px 0px;
}
 
h1.app-title img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 2px;
  position: relative;
  top: -3px;
}

